---
import Layout from '../layouts/Layout.astro';
import Shows from '../components/Shows.astro';
import Videos from '../components/Videos.astro';
import Canciones from '../components/Canciones.astro';
import Card from '../components/Card.astro';
import Banner from '../components/Banner.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="news">
			<Banner/>
		</section>
		<section class="shows">
			<h2 class="titulo-seccion">SHOWS</h2>
			<Shows/>
		</section>
		<section class="videos">
			<h2 class="titulo-seccion">NUESTROS VIDEOS</h2>
			<Videos/>
		</section>
		<section class="music-links">
			<h2 class="titulo-seccion">NUESTRAS CANCIONES</h2>
			<Canciones/>
		</section>
		<section class="merch"></section>
		<section class="contact"></section>
	</main>
</Layout>

<style>

	/*
	font-family: 'Bebas Neue', sans-serif;
	font-family: 'Outfit', sans-serif;
	*/

	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 1200px;
		font-family: 'Outfit', sans-serif;
	}
	.news{
		width: 100%;
	}
	.titulo-seccion{
		font-family: 'Bebas Neue', sans-serif;
		text-align: center;
		margin: 60px;
		font-size: 3em;
	}
</style>
