<div class="banner">
    <div class="banner-text">
        <h2>VAGOBEAT OUT NOW</h2>
        <h3>NEXT WEEKEND 19TH JUNY</h3>
        <button>SEE MORE</button>
    </div>
</div>

<style>
    .banner{
		min-height: 250px;
		background: url(./vagobeatbanner.jpg);
        background-size: contain;
		position: relative;
		border: blueviolet 3px solid;
        display: grid;
        place-items: center;
	}
	.banner-text{
		text-align: end;
		text-shadow: 0px 0px 30px rgba(255,255,255,.6);
		color: #fff;
		font-size: 1.8em;
		background-color: rgba(94, 31, 152, 0.85);
		/* display: inline-block; */
		/* position: absolute; */
		padding: 7px;
		font-family: 'Outfit', sans-serif;
		text-align: center;
	}
	.banner-text button{
		border: none;
		padding: 6px;
		background-color: #fff;
		font-family: 'Outfit', sans-serif;
		font-weight: bold;
		font-size: .7em;
		color: rgb(137, 43, 226);
		cursor: pointer;
	}
</style>