<div class="container-canciones">
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6XuYEV3MViBkjBL8AsVvq7?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6CksCGQx6Z2jooJMwYzukr?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5vzbuYelKZToGw4ck2vCN5?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

<style>
    iframe{
        margin-bottom: 5px;
    }
</style>