<div class="social">
    <ul>
        <li>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-spotify"></i></a>
        </li>
        <li>
            <a href="#"><i class="fa-brands fa-itunes"></i></a>
        </li>
    </ul>
</div>

<style>
    i{
		font-size: 1.8em;
	}
</style>