<div class="container-videos">
    <div class="div1">
        <iframe src="https://www.youtube.com/embed/kg7_97Hyq2Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="div2">
        <iframe src="https://www.youtube.com/embed/rrx9j98zZ-Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="div3">
        <iframe src="https://www.youtube.com/embed/cjCbSi5LNro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
</div>

<style>
    iframe{
        width: 100%;
        height: 100%;
    }
    .container-videos {
        height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
    grid-template-areas: 
    "div1 div1"
    "div2 div3"; 
}

.div1 { grid-area: div1; }
.div2 { grid-area: div2; }
.div3 { grid-area: div3; }
</style>